main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

main h2 {
  margin: 12px 10px;
  border-bottom: 1px solid lightgray;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double{
  flex: 2;
  margin: 10px;
}

/*
form {
  padding-right: 20px;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: gray;
  font-family: arial;
}
*/

form input,
form textarea {
  width: 100% ;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}